@model HotelPrado.Abstracciones.Modelos.Mantenimiento.MantenimientoDTO

<div class="card mt-5">
    <div class="card-header">
        <h2>Editar Mantenimiento</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Mantenimiento", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.IdMantenimiento)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control w-100" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.DropDownListFor(model => model.Estado, (SelectList)ViewBag.Estado, "Seleccione un estado", new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 offset-md-3 w-100">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Volver", "IndexMantenimiento", null, new { @class = "btn btn-secondary w-100" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


