@model IEnumerable<HotelPrado.Abstracciones.Modelos.Mantenimiento.MantenimientoDTO>

@{
    ViewBag.Title = "IndexMantenimiento";
}

<h2>IndexMantenimiento</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HabitacionNumero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartamentoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HabitacionNumero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMantenimiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMantenimiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMantenimiento })
        </td>
    </tr>
}

</table>
