@model HotelPrado.Abstracciones.Modelos.Citas.CitasDTO

<div class="card mt-5">
    <div class="card-header">
        <h2>Crear Cita</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Citas", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.IdDepartamento)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control w-100" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.PrimerApellido, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control w-100" } })
                        @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.SegundoApellido, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control w-100" } })
                        @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control w-100" } })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Correo, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control w-100" } })
                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MedioContacto, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.DropDownListFor(model => model.MedioContacto, new SelectList(new List<SelectListItem>
                                {
                            new SelectListItem { Value = "Llamada", Text = "Llamada" },
                            new SelectListItem { Value = "WhatsApp", Text = "WhatsApp" },
                            new SelectListItem { Value = "Correo", Text = "Correo" },
                            new SelectListItem { Value = "MensajeDeTexto", Text = "Mensaje de Texto" }
                        }, "Value", "Text"), "Seleccione un tipo", new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.MedioContacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 offset-md-3 w-100">
                        <input type="button" value="Crear Cita" class="btn btn-primary w-100" id="submitButton" onclick="showConfirmation()" />
                    </div>
                </div>
            </div>
        }
        <div id="confirmationButtons" style="display:none; text-align:center;">
            <h3>¿Estás seguro de que deseas crear esta cita?</h3>
            <button type="button" class="btn btn-success" onclick="acceptAction()">Aceptar</button>
            <button type="button" class="btn btn-danger" onclick="cancelAction()">Cancelar</button>
        </div>
        <div>
            @Html.ActionLink("Volver", "IndexDepartamentosClientes", new { @style = "display:none;", @id = "backToList" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    // Mostrar el mensaje de confirmación
    function showConfirmation() {
        // Ocultar el botón de submit
        document.getElementById('submitButton').style.display = 'none';

        // Mostrar los botones de confirmación
        document.getElementById('confirmationButtons').style.display = 'block';
    }

    // Aceptar y enviar el formulario
    function acceptAction() {
        $("form").submit(); // Enviar el formulario
    }

    // Cancelar y mostrar el enlace para volver
    function cancelAction() {
        // Volver a mostrar el botón de submit
        document.getElementById('submitButton').style.display = 'inline-block';

        // Ocultar los botones de confirmación
        document.getElementById('confirmationButtons').style.display = 'none';
    }
</script>
