@model HotelPrado.Abstracciones.Modelos.Habitaciones.HabitacionesDTO

<div class="card mt-5">
    <div class="card-header">
        <h2>Editar Habitación</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Habitacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.IdHabitacion)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.LabelFor(model => model.NumeroHabitacion, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.NumeroHabitacion, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.NumeroHabitacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.PrecioPorNoche1P, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.PrecioPorNoche1P, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.PrecioPorNoche1P, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.PrecioPorNoche2P, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.PrecioPorNoche2P, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.PrecioPorNoche2P, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.PrecioPorNoche3P, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.PrecioPorNoche3P, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.PrecioPorNoche3P, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.PrecioPorNoche4P, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.PrecioPorNoche4P, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.PrecioPorNoche4P, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-3 text-wrap">Tarifa general (la que ven los clientes)</label>
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.PrecioGeneral, new { @class = "form-control w-100", placeholder = "0 = usar precios por capacidad" })
                        @Html.ValidationMessageFor(model => model.PrecioGeneral, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.PrecioGobierno, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.PrecioGobierno, new { @class = "form-control w-100" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.PrecioCorporativo, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.PrecioCorporativo, new { @class = "form-control w-100" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.CapacidadMin, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.CapacidadMin, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.CapacidadMin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.CapacidadMax, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.TextBoxFor(model => model.CapacidadMax, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.CapacidadMax, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-3 text-wrap" })
                    <div class="col-md-9 w-100">
                        @Html.DropDownListFor(model => model.Estado, new SelectList(new List<SelectListItem>
                                {
                            new SelectListItem { Text = "Disponible", Value = "Disponible" },
                            new SelectListItem { Text = "En Mantenimiento", Value = "En Mantenimiento" },
                            new SelectListItem { Text = "Ocupado", Value = "Ocupado" }
                        }, "Value", "Text", Model.Estado), "Seleccione un estado", new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 offset-md-3 w-100">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary w-100" />
                        @Html.ActionLink("Cancelar", "IndexHabitaciones", null, new { @class = "btn btn-secondary w-100 mt-2" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


