@model IEnumerable<HotelPrado.Abstracciones.Modelos.Habitaciones.HabitacionesDTO>

@{
    ViewBag.Title = "IndexHabitaciones";
}

<h2>IndexHabitaciones</h2>


<form method="get" class="form-inline">
    <label for="capacidad">Filtrar por Capacidad:</label>
    <select name="capacidad" id="capacidad" class="form-control mr-4">
        <option value="">Todas</option>
        <option value="1">1 Persona</option>
        <option value="2">2 Personas</option>
        <option value="3">3 Personas</option>
        <option value="4">4 Personas</option>
    </select>

    <label for="estado">Filtrar por Estado:</label>
    <select name="estado" id="estado" class="form-control">
        <option value="">Todos</option>
        <option value="Disponible">Disponible</option>
        <option value="En Mantenimiento">En Mantenimiento</option>
        <option value="Ocupado">Ocupado</option>
    </select>

    <button type="submit" class="btn btn-primary ml-4">Filtrar</button>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioPorNoche1P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioPorNoche2P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioPorNoche3P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioPorNoche4P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacidadMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPorNoche1P)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPorNoche2P)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PrecioPorNoche3P)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PrecioPorNoche4P)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.IdTipoHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdHabitacion }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdHabitacion }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdHabitacion })
            </td>
        </tr>
    }

</table>